@font-face {
	font-family: 'UKIJ Tuz Tom';
	src: url('UKIJTuzTom.eot?') format('eot'),  url('UKIJTuzTom.woff') format('woff'),  url('UKIJTuzTom.ttf') format('truetype'),  url('UKIJTuzTom.svg#UKIJ Tuz Tom') format('svg');
}
* {
	font-size: 13px;
	font-weight: normal;
	font-family: 'UKIJ Tuz Tom', serif !important;
}

#demo {
    direction: rtl;
}

.node rect {
stroke: #999;
stroke-width: 1px;
fill: #fff;
}

.edgeLabel rect {
fill: #fff;
}

.edgePath path {
stroke: #333;
stroke-width: 1.5px;
fill: none;
}